/* =========================================================
   GOOGLE FONTS
   ========================================================= */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
/* =========================================================
   TAILWIND IMPORT
   ========================================================= */
@import "tailwindcss";

/* =========================================================
   VARIABLES DE DISEÑO (GUÍA DE ESTILOS)
   ========================================================= */
@theme {
  /* ------------------------------
     COLORES PRINCIPALES
     ------------------------------ */
  --color-text-primary: #e6e6e6;
  --color-background: #000000;
  --color-secondary: #5667ff;
  --color-darkGray: #171717;
  --color-lightGray: #262626;

  /* ------------------------------
     TIPOGRAFÍAS
     ------------------------------ */
  --font-inter: "Inter", sans-serif;
  --font-srcpro: "Source Code Pro", monospace;

  --text-11xl: 200px;

  /* ------------------------------
     ANIMACIONES
     ------------------------------ */
  --animate-pulse: pulse 1s ease-in-out 2;
}

/* =========================================================
   KEYFRAMES
   ========================================================= */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* =========================================================
   ESTILOS BASE
   ========================================================= */
@layer components {
  .section-title {
    @apply text-xs opacity-50 font-srcpro text-text-primary uppercase tracking-widest;
  }
}
